{
    "extends": ["plugin:astro/recommended", "stylelint-config-html/astro"],
    "parser": "@typescript-eslint/parser",
    "overrides": [
        {
            "files": ["*.astro"],
            "parser": "astro-eslint-parser",
            "parserOptions": {
                "project": "./tsconfig.json"
            }
        }
    ]
}