---
import Layout from "../layouts/Layout.astro";
import HeroJunhoVermelho from "../components/Home/HeroJunhoVermelho.astro";
import ApoieCausa from "../components/Home/ApoieCausa.astro";
import Bloco30Minutos from "../components/Home/Bloco30Minutos.astro";
import RedesSociais from "../components/Home/RedesSociais.astro";
import BaixeApp from "../components/Home/BaixeApp.astro";
---

<Layout title="">
  <main id="main" transition:animate="fade">
    <HeroJunhoVermelho />
    <ApoieCausa />
    <Bloco30Minutos />
    <RedesSociais />
    <BaixeApp />
  </main>
</Layout>

<style>
  #main {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  @media screen and (min-width: 768px) {
    #main {
      padding: 0 8rem;
    }
  }
</style>
