---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Home/Hero.astro";
import WhoWeAre from "../components/Home/WhoWeAre.astro";
import OurImpact from "../components/Home/OurImpact.astro";
import CallToAction from "../components/Home/CallToAction.astro";
import HowWorks from "../components/Home/HowWorks.astro";
import NextEvents from "../components/Home/NextEvents.astro";
import Feedbacks from "../components/Home/Feedbacks.astro";
import CallToActionPartners from "../components/Home/CallToActionPartners.astro";
import BecomeVolunteer from "../components/Home/BecomeVolunteer.astro";
// import BloodBrothersDialog from "../components/Home/BloodBrothersDialog/BloodBrothersDialog.jsx";
import CallToActionCanDonate from "../components/Home/CallToActionCanDonate.astro";
---

<Layout title="">
  <main id="main" transition:animate="fade">
    <!-- <BloodBrothersDialog client:load /> -->
    <!-- Removed Blood Brothers dialog for now -->
    <Hero />
    <WhoWeAre />
    <OurImpact />
    <CallToAction />
    <HowWorks />
    <CallToActionCanDonate />
    <NextEvents />
    <CallToActionPartners />
    <Feedbacks />
    <!-- <Partners /> -->
    <!-- <FAQ /> -->
    <BecomeVolunteer />
  </main>
</Layout>

<style>
  #main {
    display: flex;
    flex-direction: column;
  }
</style>
