---
import Title from "../Title.astro";

const VALUES = [
  {
    title: "eventos realizados",
    value: "230",
  },
  {
    title: "bolsas de sangue coletadas",
    value: "+10 mil",
  },
  {
    title: "vidas salvas",
    value: "+40 mil",
  },
];
---

<section class="container">
  <Title subtitle="Nosso impacto em números">
    Salvando vidas com o Hemocione
  </Title>
  <p class="description">
    Juntos, mudamos o mundo promovendo a doação de sangue desde 2017.
  </p>
  <div class="values">
    {
      VALUES.map((value) => (
        <div class="value">
          <p>{value.value}</p>
          <h3>{value.title}</h3>
        </div>
      ))
    }
  </div>
</section>

<style>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0.25rem;
    padding: 3rem 1rem;
  }

  .description {
    margin-top: 1rem;
    max-width: 55rem;
  }

  .values {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    margin-top: 4rem;
  }

  .value {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .value:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -3rem;
    top: 50%;
    transform: translateY(-50%);
    height: 2rem;
    border-right: 1px solid var(--hemo-color-slate-400);
  }

  .value p {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--hemo-color-primary);
  }

  .value h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--hemo-color-text-secondary);
    margin: 0;
  }

  @media (max-width: 768px) {
    .values {
      gap: 4rem;
    }

    .value:not(:last-child)::after {
      display: none;
    }
  }
</style>
