---
// Componente bloco Redes Sociais
---

<section class="redes-sociais">
  <img src="/assets/posts.png" class="posts" />
  <div class="redes-content">
    <h1>Acompanhe a gente nas redes sociais</h1>
    <p>
      Nossos conteúdos são super informativos. Postamos desde guias, pesquisas e
      dúvidas a curiosidades e tendências!
    </p>
    <div class="redes-icons">
      <a
        href="https://www.instagram.com/hemocione"
        target="_blank"
        aria-label="Instagram"
        ><img src="/assets/instagram.svg" alt="Instagram" /></a
      >
      <a
        href="https://www.tiktok.com/@hemocione"
        target="_blank"
        aria-label="TikTok"><img src="/assets/tiktok.svg" alt="TikTok" /></a
      >
      <a
        href="https://www.linkedin.com/company/hemocione"
        target="_blank"
        aria-label="LinkedIn"
        ><img src="/assets/linkedin.svg" alt="LinkedIn" /></a
      >
    </div>
  </div>

  <style>
    .redes-sociais {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 3.5rem;
      flex-wrap: wrap;
    }
    .posts {
      min-width: 300px;
      min-height: 400px;
      width: 40%;
      object-fit: contain;
    }
    .redes-content {
      flex: 1;
      min-width: 300px;
    }
    .redes-content h1 {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 0.7rem;
    }
    .redes-content p {
      color: #444;
      margin-bottom: 1.2rem;
    }
    .redes-icons {
      display: flex;
      gap: 2rem;
    }
    .redes-icons a img {
      width: 32px;
      height: 32px;
    }
    @media (max-width: 900px) {
      .redes-sociais {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
      }
      .posts {
        width: 100%;
        height: auto;
        justify-content: center;
        flex-direction: row;
      }
      .post-card {
        position: static;
        margin: 0 0.5rem;
        height: 80%;
      }
      .redes-content {
        padding: 0 1rem;
        max-width: 100%;
        min-width: 0;
        width: 100%;
        text-align: left;
      }
    }
    @media (max-width: 600px) {
      .posts {
        flex-direction: column;
        align-items: center;
        gap: 0.7rem;
      }
      .post-card {
        margin: 0;
        width: 120px;
      }
      .redes-content h2 {
        font-size: 1.1rem;
      }
    }
  </style>
</section>
